*{
  padding: 0px;
  margin: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  background-color:white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}

body{
    background-color: rgb(223, 223, 223);
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

}

.ShowAll{
  display:table;
  padding: 10px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.AdminUserSection{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
input {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  font-size: 24px;
}
.AdminProducts {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.UserSection , .ProductSection{
  border: 1px solid black;
  height: auto;
  background-color: whitesmoke;
}

select{
  font-size: 24px;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
label{
  font-size: 24px;
  margin: 5px;
}

.TitelHeader {
  font-size: 32px;
  text-align: center;
  padding: 5px;
  background-color: lightgrey;
  border: 2px solid black;
}
form {
  padding: 5px;
}
input[type=checkbox]{
  height: 20px;
  width: 20px;
}
input[type=submit]:hover{
  background-color: lightgray;
}
a{
  font-size: 24px;
}
.center{
  text-align: center;
}
a:link.LinkHeader, a:visited.LinkHeader {
  background-color: whitesmoke;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid black;
}
.AdminNav > a:link, .AdminNav > a:visited
{
  background-color: whitesmoke;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid black;
}


a:hover.LinkHeader, a:active.LinkHeader {
  background-color: lightgray;
}

.AdminNav > a:hover, .AdminNav > a:active {
  background-color: lightgray;
}

p{
  font-size:24px;
}
details{
  font-size: 24px;
  padding: 10px;
}

textarea{
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  font-size: 24px;
}
.loginButton{
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  font-size: 24px;
}
.LinkHeader, .AdminNav > a{
  padding: 5px;
  border-radius: 5px;
  font-size: 24px;
  margin-left: 10px;
}
.LeveransAdress{
  width: 400px;
  background-color: whitesmoke;
}
table {
  border-collapse: collapse;
}
thead{
  text-align: left;
  background-color: lightgrey;
  color: black;
  border: 1px solid black;
  padding: 5px;
}
th{
  font-size: 24px;
  text-align: left;
  background-color: lightgrey;
  color: black;
  border: 1px solid black;
  padding: 5px;
}
td{
  font-size: 24px;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 5px;
    background-color: rgb(240, 240, 240);
}


.main{
  justify-content: center;
  display:flex;
  flex-wrap: wrap;
  
}


.cart{
  margin-top: 20px;
  justify-content: center;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.ProductCard {
  padding: 15px;
  margin: 15px;
  height: 290px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 1px 1px 1px grey;
}

.ProductCard > p{
  margin: 0;
  padding: 0;
}

.ProductCard > img{  
  margin-bottom: auto;
  padding: 0;
}

.ProductCard > .buybox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
} 


.ProductCard > .buybox > p{
  font-size: 24px;
  margin-right: 10px;
} 

.ProductCard > .buybox > form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
} 

.ProductCardLarge{
  padding: 15px;
  margin: 15px;
  height: 600px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 1px 1px 1px grey;

}

.ProductCardLarge > .InfoText{
  display: flex;
  flex-direction: column;
  text-align: right;
}

.SkapaKonto {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.inputnumber{
  width: 35px;
}

.ProfileUser, .AllOrders{
  display:table;
  gap: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}